<div class="container text-center">
  <!-- Logo -->
  <div class="mt-4">
    <%= image_tag("micolet.png", alt: "Micolet Logo", style: "width: 300px; height: 65px;") %>
    <p class="logo-slogan"><%= t("slogan") %></p>
  </div>
  <!-- Título -->
  <br>
  <br>
  <h5 class="mt-1"><%= t("welcome") %></h5>
  <h5><%= t("welcome2") %></h5>
  <!-- Texto de suscripción -->
  <h6 class="mt-4"><%= t("subscribe") %></h6>

  <br>
  <div class="row d-flex">
    <div class="col-md-4 mx-auto">
      <% if @subscriber.errors[:email].any? %>
        <div class="error">
          <%= @subscriber.errors[:email].first %>
        </div>
      <% end %>
      <%# <%= @subscriber.errors.any?%>

      <!-- Formulario de registro -->

      <%= form_for(@subscriber, url: subscribers_path, html: { data: { turbo: false } }) do |f| %>
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-start">
            <%= f.label :email, style: "font-weight: bold;" %>
          </div>
          <%= f.text_field :email %>
          <div class="d-flex justify-content-start mt-1">
            <%= f.label :preferences, style: "font-weight: bold;" %>
          </div>
            <div class="mt-1">
              <%= f.fields_for  Preference.new do |p| %>
                <% @campaigns.each_with_index do |campaign, i| %>
                  <div class="d-flex">
                    <input class="me-3" type="checkbox" value="<%=campaign.id%>" name="subscriber[preferences_attributes][<%=i%>][campaign_id]" id="subscriber_preferences_attributes_<%=i%>_campaign_id">
                    <label class="align-item-start" style="color: black;" for="subscriber_preferences_attributes_<%=i%>_campaign_id"><%= t("campaigns.#{campaign.name}") %></label>
                  </div>
                <% end %>
              <% end %>
            </div>
        </div>

      <%= f.submit t("subscribe1"), class: "btn btn-success mt-3" %>
    <% end %>
    </div>
  </div>
</div>
